@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-brand-cyan: #00f2ff;
  --color-brand-purple: #7000ff;
  --color-brand-bg: #0a0a0c;
}

@layer base {
  body {
    @apply bg-brand-bg text-gray-100 font-sans;
  }

  th,
  td {
    vertical-align: top;
  }
}

